<%- partial('expert_sidebar') %>

<div id='content' style="width: 640px" xmlns="http://www.w3.org/1999/html">
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span><span>癌症肿瘤医生专家</span></li>
                <li class='active'><span class='divider'>/</span><%= user.name %></li>
            </ul>
        </div>
        <div class='inner userinfo'>
            <div>
                <div style="float: right;">
                    <img class="img-rounded" src="http://my.zhaopin.com/pic/2014/3/12/1FDD494CDC1E484A8AD6554FAF620A57.jpg" width="200px" height="200px">
                </div>

                <h3>简介</h3>
                姓名：张浔敏<br>
                性别：女<br>
                出生日期：1984年8月<br>

                <h3>教育背景</h3>
                2002/09 -- 2007/06：<a href="http://www.bjmu.edu.cn/" target="_blank">北京大学医学部</a>    | 临床医学 | 本科<br>
                2007/09 -- 2013/06：<a href="http://www.smmu.edu.cn/" target="_blank">第二军医大学</a>     | 肿瘤学 | 硕士、博士<br>
                2012/01 -- 2013/03：<a href="http://www.uchicago.edu/" target="_blank">美国芝加哥大学</a>   | 免疫学系 | 访问学者<br>

                <h3>工作经历</h3>
                2013/08 -- 至今：上海某部队医院 | 内科医生
                肿瘤内科医生，尤其擅长肿瘤生物靶向治疗的实施和评估。<br>
                2013/10 -- 2013/11：北京海军干部部 心理咨询师培训
                所获证书：国家心理咨询师-三级。<br>
                2012/01 -- 2013/03  美国芝加哥大学国家公派联合培养博士研究生
                博士在读期间申请国家公派研究生计划，赴美国芝加哥大学病理系进行为期15个月的科研培训，期间研究了肿瘤生物靶向治疗的全新制剂及其发挥抗肿瘤效应的机制。研究成果以第一作者身份分别于2014年1月发表于<a href="http://www.cell.com/cancer-cell/home" target="_blank"> Cancer cell</a>
                <br><a href="/public/doc/targeting_cancercell.pdf" target="_blank">文章下载</a>

                <h3>所获荣誉</h3>
                2002-2003年度   北京大学优秀医学生二等奖、社会工作单项奖<br>
                2003-2004年度   北京大学优秀医学生一等奖、北京大学三好学生<br>
                2004-2005年度   北京大学优秀医学生单项奖、学习优秀单项奖<br>
                2005-2006年度   北京大学优秀医学生一等奖、北京大学三好学生标兵<br>
                2006年   <strong>北京市三好学生</strong><br>
                2007年   <strong>北京市优秀毕业生、<a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>优秀毕业生</strong><br>
                2008年   第二军医大学优秀学员<br>
                2011年   第二军医大学奖学金<br>

                <h3>科研成果 SCI文章</h3>
                Xuanming Yang, Xunmin Zhang, May Lynne Fu, Ralph R. Weichselbaum, Thomas F. Gajewski, Yajun Guo, and Yang-Xin Fu. <a href="/public/doc/targeting_cancercell.pdf" target="_blank">Targeting the Tumor Microenvironment with Interferon-b Bridges Innate and Adaptive Immune Responses</a>. Cancer Cell. (2013) Jan; 25, 37-48  <span style="color: red">IF:26.5</span> <strong style="float: right">第一作者</strong>
                <br>
                <br>Yang X, Zhang X, Mortenson ED, Radkevich-Brown O, Wang Y, Fu YX. Cetuximab-mediated tumor regression depends on innate and adaptive immune responses. Mol Ther. (2013) Jan; 21(1): 91-100  <span style="color: red">IF:7.04</span> <strong style="float: right">第一作者</strong>
                <br>
                <br>Li B, Zhang X, Shi S, Zhan L, Zhang D, Qian W, Zheng L, Gao J, Wang H, Guo Y. Construction and characterization of a bispecific anti-CD20 antibody with potent antitumor activity against B-cell lymphoma. Cancer Res. (2010) Aug; 1;70(15):6293-302 <span style="color: red">IF:8.65</span> <strong style="float: right">第一作者</strong>
                <br>
                <br>Qian W, Zhang X, Li B, Zhang D, Tong Q, Chen L, Zheng L, Kou G, Wang H, Hou S, Guo Y. Development and characterization of a novel anti-IgE monoclonal antibody. Biochem Biophys Res Commun. (2010) May 14;395(4):547-52 <span style="color: red">IF:2.4</span> <strong style="float: right">第一作者</strong>
                <br>
                <br>Kou G, Shi J, Chen L, Zhang D, Hou S, Zhao L, Fang C, Zheng L, Zhang X, Liang P, Zhang X, Li B, Guo Y. A bispecific antibody effectively inhibits tumor growth and metastasis by simultaneous blocking vascular endothelial growth factor A and osteopontin. Cancer Lett. (2010) Dec 28;299(2):130-6. <strong style="float: right">参与发表</strong>
                <br>
                <br>Wu L,Wang C,Zhang D,Zhang X,Qian W,Zhao L,Wang H,Li B,Guo Y. Characterization of a humanized anti-CD20 antibody with potent antitumor activity against B-cell lymphoma. Cancer Lett. (2010) Jun 28;292(2):208-14. <strong style="float: right">参与发表</strong>
                <br>
                <br>Zhang D,Li B,Shi J,Zhao L,Zhang X,Wang C,Hou S,Qian W,Kou G,Wang H, Guo Y. Suppression of tumor growth and metastasis by simultaneously blocking vascular endothelial growth factor (VEGF)-A and VEGF-C with a receptor-immunoglobulin fusion protein. Cancer Res. (2010) Mar 15;70(6):2495-503. <strong style="float: right">参与发表</strong>
                <br>
                <br>Wu L,Wang C,Zhang D,Zhang X,Qian W,Zhao L,Wang H,Li B,Guo Y. Characterization of a humanized anti-CD20 antibody with potent antitumor activity against B-cell lymphoma. Cancer Lett. (2010) Jun 28;292(2):208-14. <strong style="float: right">参与发表</strong>
                <br>
                <br>Zhang D,Li B,Shi J,Zhao L,Zhang X,Wang C,Hou S,Qian W,Kou G,Wang H, Guo Y. Suppression of tumor growth and metastasis by simultaneously blocking vascular endothelial growth factor (VEGF)-A and VEGF-C with a receptor-immunoglobulin fusion protein. Cancer Res. (2010) Mar 15;70(6):2495-503. <strong style="float: right">参与发表</strong>
                <br>
                <br>Li B,Zhao L,Wang C,Guo H,Wu L,Zhang X,Qian W,Wang H,Guo Y. The protein-protein interface evolution acts in a similar way to antibody affinity maturation. J Biol Chem. (2010) Feb 5;285(6):3865-71. <strong style="float: right">参与发表</strong>
                <br>
                <br>Gao J,Li B,Li H,Zhang X,Zhang D,Zhao L,Wang C,Fang C,Qian W,Hou S, Kou G, Wei H, Shi S, Wang H, Guo Y. Development and characterization of a fully functional small anti-HER2 antibody. BMB Rep. (2009) Oct 31;42(10):636-41. <strong style="float: right">参与发表</strong>
                <br>
                <br>Li B,Zhao L,Guo H,Wang C,Zhang X,Wu L,Chen L,Tong Q,Qian W,Wang H, Guo Y. Characterization of a rituximab variant with potent antitumor activity against rituximab-resistant B-cell lymphoma. Blood. (2009) Dec 3;114(24):5007-15.<strong style="float: right">参与发表</strong>




            </div>

            <br>
            <address>
                <strong>上海市宝山区</strong><br>
                邮箱：<a href="mailto:zxm5539@163.com">zxm5539@163.com</a><br>
                <abbr title="Phone">电话：</abbr> 18621754770
            </address>

        </div>
    </div>


</div>


