<div id='sidebar' style="width: 400px">
    <div class='panel'>
        <% if (locals.user || locals.current_user) { %>
        <div class='header'>
        <span class='col_fade'>个人信息<span>
        </div>
        <div class='inner'>
            <%- partial('user/card',{ object: locals.user || locals.current_user, as: 'user' }) %>
        </div>
        <% } else { %>
        <div class='inner'>
            <p><%= config.description %></p>
            <div style="display: block;line-height: 30px">
                <span>您可以<a class='light' href='/signin'> 登录 </a>或者<a class='light' href='/signup'> 注册 ，</a></span>也可以
                <a href="/auth/sina"><img src="../public/images/loginbtn_03.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/auth/qq"><img alt="Connect_logo_3.png" src="../public/images/Connect_logo_3.png"></a>
            </div>
        </div>
        <% } %>
    </div>

    <div class=panel>
        <div class='header'>
            <!-- <img src='<%- config.site_static_host %>/public/images/tag_icon&16.png' title='标签'/> -->
            <!-- CNode社区宣传通告 -->
            <span class="index_notify">癌症肿瘤医生专家</span>
        </div>
        <div class='inner'>
            <a href="/user/xunmin" target="_blank">张浔敏</a> <div style="display: inline;float: right"><wb:follow-button uid="1863803710" type="gray_2" width="136" height="24" ></wb:follow-button></div>
        </div>
    </div>



    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>最近发布话题</span>
        </div>
        <% if (locals.recent_topics && recent_topics.length > 0) { %>
        <%- partial('topic/abstract', { collection: recent_topics, as: 'topic' }) %>
        <div class='cell more'>
            <a class='dark' href="/user/<%= user.name %>/topics">查看更多»</a>
        </div>
        <% } else { %>
        <div class='inner'>
            <p>无话题</p>
        </div>
        <% } %>
    </div>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>最近参与话题</span>
        </div>
        <% if (locals.recent_replies && recent_replies.length > 0) { %>
        <%- partial('topic/abstract', { collection: recent_replies, as: 'topic' }) %>
        <div class='cell more'>
            <a class='dark' href="/user/<%= user.name %>/replies">查看更多»</a>
        </div>
        <% } else { %>
        <div class='inner'>
            <p>无话题</p>
        </div>
        <% } %>
    </div>



</div>
