<%- partial('sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>关于</h3>
      <hr />
      <div class="topic_content">
      <p>www.tianxiawuai.com为国内最专业癌症预防、咨询、交流、求医社区，致力于中国癌症的预防与咨询，给广大癌症患者尽一份帮助。</p>
      <p>天下无癌社区由专业的<a target="_blank" href="/user/xunmin" style="cursor:pointer">肿瘤学博士</a>发起，我们非常欢迎更多致力于中国癌症预防、治疗事业的朋友加入我们（发邮件到 <a href='mailto:tianxiawuaicn@126.com'>tianxiawuaicn@126.com</a>）。</p>
      </div>
    </div>
  </div>  
</div>
