<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>FAQ</li>
			</ul>
		</div>
		<div class='inner topic'>
			<h3>FAQ</h3>
			<hr />
			<div class="topic_content">
            <p>A：为什么取名天下无癌？</p>
            <p>Q：取名天下无癌，是为了普及癌症预防知识，让癌症能够更好地预防，癌症的发病是个复杂的因素，好的预防知识普及能够降低癌症发病率。
                  即使得了癌症也不用着急，很多癌症都可以有效治疗，希望患者朋友不用谈癌色变，保持良好的心态，取名天下无癌也是一个良好的许愿。</p>
            </div>
		</div>
	</div>	
</div>
